# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
*.zip

.idea/**/*
load_env.sh
logs/**/*
notes_do_not_include/**/*
results/**/*
